In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
from preprocessing import one_hot_encoder
pd.set_option('display.max_columns', 200)

# one categorical column, default settings

In [2]:
pd.set_option('display.max_columns', 200)
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10,11,12,13],'col2':[1,2,3,4,5,6,7,8,9,10,11,12,13], 'col3':['a','b','c','d','e','f','g','h','i','j','a','b','k']})
print('\nbefore encoding \n',df)
ohe = one_hot_encoder.one_hot_encoder()
ohe.number_of_top_values
ohe.fit(df)
print('\nafter encoding \n')
ohe.transform(df)

before encoding
     col1  col2 col3
0      1     1    a
1      2     2    b
2      3     3    c
3      4     4    d
4      5     5    e
5      6     6    f
6      7     7    g
7      8     8    h
8      9     9    i
9     10    10    j
10    11    11    a
11    12    12    b
12    13    13    k

after encoding

,col1,col2,col3_OH_a,col3_OH_b,col3_OH_d,col3_OH_i,col3_OH_j,col3_OH_k,col3_OH_c,col3_OH_h,col3_OH_f,col3_OH_e,col3_OHE_REST
0,1,1,1,0,0,0,0,0,0,0,0,0,0
1,2,2,0,1,0,0,0,0,0,0,0,0,0
2,3,3,0,0,0,0,0,0,1,0,0,0,0
3,4,4,0,0,1,0,0,0,0,0,0,0,0
4,5,5,0,0,0,0,0,0,0,0,0,1,0
5,6,6,0,0,0,0,0,0,0,0,1,0,0
6,7,7,0,0,0,0,0,0,0,0,0,0,1
7,8,8,0,0,0,0,0,0,0,1,0,0,0
8,9,9,0,0,0,1,0,0,0,0,0,0,0
9,10,10,0,0,0,0,1,0,0,0,0,0,0
10,11,11,1,0,0,0,0,0,0,0,0,0,0
11,12,12,0,1,0,0,0,0,0,0,0,0,0
12,13,13,0,0,0,0,0,1,0,0,0,0,0

# two categorical columns, default settings

In [3]:
pd.set_option('display.max_columns', 200)
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10,11,12,13],'col2':[1,2,3,4,5,6,7,8,9,10,11,12,13], 'col3':['a','b','c','d','e','f','g','h','i','j','a','b','k'], 'col4':['a','b','c','d','e','f','g','h','i','j','a','b','k']})
print('\nbefore encoding \n',df)
ohe = one_hot_encoder.one_hot_encoder()
ohe.number_of_top_values
ohe.fit(df)
print('\nafter encoding \n')
ohe.transform(df)

before encoding
     col1  col2 col3 col4
0      1     1    a    a
1      2     2    b    b
2      3     3    c    c
3      4     4    d    d
4      5     5    e    e
5      6     6    f    f
6      7     7    g    g
7      8     8    h    h
8      9     9    i    i
9     10    10    j    j
10    11    11    a    a
11    12    12    b    b
12    13    13    k    k

after encoding

,col1,col2,col3_OH_a,col3_OH_b,col3_OH_d,col3_OH_i,col3_OH_j,col3_OH_k,col3_OH_c,col3_OH_h,col3_OH_f,col3_OH_e,col3_OHE_REST,col4_OH_a,col4_OH_b,col4_OH_d,col4_OH_i,col4_OH_j,col4_OH_k,col4_OH_c,col4_OH_h,col4_OH_f,col4_OH_e,col4_OHE_REST
0,1,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,2,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,5,5,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
5,6,6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
6,7,7,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
7,8,8,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
8,9,9,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9,10,10,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10,11,11,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
11,12,12,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
12,13,13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

# one categorical column, number_of_top_values = 5

In [4]:
pd.set_option('display.max_columns', 200)
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10,11,12,13],'col2':[1,2,3,4,5,6,7,8,9,10,11,12,13], 'col3':['a','b','c','d','e','f','g','h','i','j','a','b','k']})
print('\nbefore encoding \n',df)
ohe = one_hot_encoder.one_hot_encoder(number_of_top_values = 5)
ohe.number_of_top_values
ohe.fit(df)
print('\nafter encoding \n')
ohe.transform(df)

before encoding
     col1  col2 col3
0      1     1    a
1      2     2    b
2      3     3    c
3      4     4    d
4      5     5    e
5      6     6    f
6      7     7    g
7      8     8    h
8      9     9    i
9     10    10    j
10    11    11    a
11    12    12    b
12    13    13    k

after encoding

,col1,col2,col3_OH_a,col3_OH_b,col3_OH_d,col3_OH_i,col3_OH_j,col3_OHE_REST
0,1,1,1,0,0,0,0,0
1,2,2,0,1,0,0,0,0
2,3,3,0,0,0,0,0,1
3,4,4,0,0,1,0,0,0
4,5,5,0,0,0,0,0,1
5,6,6,0,0,0,0,0,1
6,7,7,0,0,0,0,0,1
7,8,8,0,0,0,0,0,1
8,9,9,0,0,0,1,0,0
9,10,10,0,0,0,0,1,0
10,11,11,1,0,0,0,0,0
11,12,12,0,1,0,0,0,0
12,13,13,0,0,0,0,0,1

# fit_transform

In [6]:
pd.set_option('display.max_columns', 200)
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10,11,12,13],'col2':[1,2,3,4,5,6,7,8,9,10,11,12,13], 'col3':['a','b','c','d','e','f','g','h','i','j','a','b','k']})
print('\nbefore encoding \n',df)
ohe = one_hot_encoder.one_hot_encoder(number_of_top_values = 5)
print('\nafter encoding \n')
ohe.fit_transform(df)

before encoding
     col1  col2 col3
0      1     1    a
1      2     2    b
2      3     3    c
3      4     4    d
4      5     5    e
5      6     6    f
6      7     7    g
7      8     8    h
8      9     9    i
9     10    10    j
10    11    11    a
11    12    12    b
12    13    13    k

after encoding

,col1,col2,col3_OH_a,col3_OH_b,col3_OH_d,col3_OH_i,col3_OH_j,col3_OHE_REST
0,1,1,1,0,0,0,0,0
1,2,2,0,1,0,0,0,0
2,3,3,0,0,0,0,0,1
3,4,4,0,0,1,0,0,0
4,5,5,0,0,0,0,0,1
5,6,6,0,0,0,0,0,1
6,7,7,0,0,0,0,0,1
7,8,8,0,0,0,0,0,1
8,9,9,0,0,0,1,0,0
9,10,10,0,0,0,0,1,0
10,11,11,1,0,0,0,0,0
11,12,12,0,1,0,0,0,0
12,13,13,0,0,0,0,0,1