In [5]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
from preprocessing import one_hot_encoder

In [8]:
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10,11,12,13],'col2':[1,2,3,4,5,6,7,8,9,10,11,12,13], 'col3':['a','b','c','d','e','f','g','h','i','j','a','b','k']})
print('\nbefore encoding \n',df)
ohe = one_hot_encoder.one_hot_encoder()
ohe.number_of_top_values
ohe.fit(df)
#ohe.columns_to_encode
ohe.transform(df)
#ohe.top_values
#print('\nafter encoding \n',ohe.transform(df))

before encoding
     col1  col2 col3
0      1     1    a
1      2     2    b
2      3     3    c
3      4     4    d
4      5     5    e
5      6     6    f
6      7     7    g
7      8     8    h
8      9     9    i
9     10    10    j
10    11    11    a
11    12    12    b
12    13    13    k

before encoding
     col1  col2 col3
0      1     1    a
1      2     2    b
2      3     3    c
3      4     4    d
4      5     5    e
5      6     6    f
6      7     7    g
7      8     8    h
8      9     9    i
9     10    10    j
10    11    11    a
11    12    12    b
12    13    13    k

,col1,col2,col3_OH_b,col3_OH_a,col3_OH_h,col3_OH_e,col3_OH_c,col3_OH_k,col3_OH_j,col3_OH_d,col3_OH_f,col3_OH_i,col3_OHE_REST
0,1,1,0,1,0,0,0,0,0,0,0,0,0
1,2,2,1,0,0,0,0,0,0,0,0,0,0
2,3,3,0,0,0,0,1,0,0,0,0,0,0
3,4,4,0,0,0,0,0,0,0,1,0,0,0
4,5,5,0,0,0,1,0,0,0,0,0,0,0
5,6,6,0,0,0,0,0,0,0,0,1,0,0
6,7,7,0,0,0,0,0,0,0,0,0,0,1
7,8,8,0,0,1,0,0,0,0,0,0,0,0
8,9,9,0,0,0,0,0,0,0,0,0,1,0
9,10,10,0,0,0,0,0,0,1,0,0,0,0
10,11,11,0,1,0,0,0,0,0,0,0,0,0
11,12,12,1,0,0,0,0,0,0,0,0,0,0
12,13,13,0,0,0,0,0,1,0,0,0,0,0

,col1,col2,col3_OH_b,col3_OH_a,col3_OH_h,col3_OH_e,col3_OH_c,col3_OH_k,col3_OH_j,col3_OH_d,col3_OH_f,col3_OH_i,col3_OHE_REST
0,1,1,0,1,0,0,0,0,0,0,0,0,0
1,2,2,1,0,0,0,0,0,0,0,0,0,0
2,3,3,0,0,0,0,1,0,0,0,0,0,0
3,4,4,0,0,0,0,0,0,0,1,0,0,0
4,5,5,0,0,0,1,0,0,0,0,0,0,0
5,6,6,0,0,0,0,0,0,0,0,1,0,0
6,7,7,0,0,0,0,0,0,0,0,0,0,1
7,8,8,0,0,1,0,0,0,0,0,0,0,0
8,9,9,0,0,0,0,0,0,0,0,0,1,0
9,10,10,0,0,0,0,0,0,1,0,0,0,0
10,11,11,0,1,0,0,0,0,0,0,0,0,0
11,12,12,1,0,0,0,0,0,0,0,0,0,0
12,13,13,0,0,0,0,0,1,0,0,0,0,0